
html, body {
  color: var(--color, black);
  height: 100%;
  background-color: cyan;
  margin: 0;
  background: linear-gradient(162deg, rgb(133, 253, 255) 0%, rgb(84, 177, 227) 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 20px;
}


@media (min-height: 425px) {
  body {
    --size: 25px;
  }

  footer {
    font-size: 1em;
    height: 40px;
  }
}


.conEle {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


header {
  font-weight: 900;
  justify-content: space-between;
  width: calc(var(--size, 15px) * 17);
  display: flex;
  font-size: 2em;
}


.box {
  border: var(--size, 15px) solid var(--color, black);
  grid-template-rows: repeat(15, auto);
  display: grid;
  grid-template-columns: repeat(15, auto);
}


.piece {
  height: var(--size, 15px);
  position: relative;
  width: var(--size, 15px);
}


.gameBox {
  height: 100%;
  position: absolute;
  width: 100%;
}


footer a:visited {
  color: inherit;
}
